.nav {
  margin: 33px auto;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.navcol {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.navlink {
  text-decoration: none;

  height: 21px;
  line-height: 21px;

  color: var(--color-text-default);
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  letter-spacing: 0%;
}

.navlink:hover {
  color: var(--color-text-muted);
}
.navlink:active {
  color: var(--color-text-logo);
}
.navlinkactive {
  color: var(--color-text-muted);
}
