.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  line-height: 0;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  gap: 45px;
}
