.cart {
  display: grid;
  gap: 127px;
  grid-template-columns: auto min-content;
}
.cart_wrap {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.buttonTopPanel__button {
  width: min-content;
  height: min-content;
}
.buttonTopPanel__button__img {
  width: 20px;
  height: 17px;
}

@media (max-width: 900px) {
  .cart {
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
  }
  .cart__cartSummary {
    margin: 0 auto;
  }
}
